<% content_for :body_class, 'bg-light' %>
<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2" style="
    color: darkred !important;
"><%= @product.name %></h1></h1>


      <ul class="pv1">
        <% if @product.color? %>
        <li class="inline-block pr3"><%= @product.color %></li>
        <% end %>

        <li class="inline-block pr3"><%= @product.gender %></li>

        <% if @product.size? %>
        <li class="inline-block pr3"><%= @product.size %></li>
        <% end %>
      </ul>


      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4"><%= @product.name %></h3>


      </br>
      <div class="feature-image">
      <%= cl_image_tag @product.photo%>
    </div>


 <h3 class="subtitle is-4"></h3>
      <%= @product.description %>

      <h3 class="subtitle is-4 pt5">Descripcion</h3>

      <table class="table is-narrow">
        <% if @product.size %>
        <tr>
          <td class="has-text-weight-bold">Gender</td>
          <td><%= @product.gender %></td>
        </tr>
        <% end %>

        <% if @product.color %>
          <tr>
            <td class="has-text-weight-bold">Color:</td>
            <td><%= @product.color %></td>
          </tr>
        <% end %>

        <% if @product.size %>
          <tr>
            <td class="has-text-weight-bold">Size:</td>
            <td><%= @product.size %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Price:</td>
          <td>Bs.<%=@product.price %></td>
        </tr>
      </table>
    </div>
    </div>



    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered" style="
    color: darkred !important;
">Bs. <%=(@product.price) %></h4>

        <p class="has-text-centered mb4">Sold by <%= @product.user %></p>
               <%= button_to 'Add to cart', line_items_path(product_id: @product), class: 'button is-warning add-to-cart select is-fullwidth' %>


      </div>
      </div>
    </div>
  </div>

</section>
